* {
  box-sizing: border-box;
}

body {
  margin: 40px;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: bisque;

}

/* main logo and nav */
nav {
  display: flex;
  background-color: #1654247d;
  padding: 20px;
  height: 50px;
  justify-content: right;
  align-items: center;

}

a {
  margin: 50px;
  font-size: large;
}

/*hero banner*/
.hero-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

#my-photo {
margin-top: 10px;
  margin-bottom: 100px;
  width: 400px;
  height: 350px;

}

#subtitle {
  margin-top: 150px;
  font-size: 50px;
  font-style: italic;
  color: darkblue;
}

/*main*/


/*about me*/
.page-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

/*portfolio container grid*/

#work-area {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "pre pre"
  "se th"
  "fo fi"
  
  ;}

  #prework-study-guide{
    grid-area: pre;
    background-image:url(../images/02-hero-bg.jpg);
  }

  #second-application{
    grid-area: se;
    background-image: url(../images/02-portfolio-1.jpg);
  }

  #third-application{
    grid-area: th;
    background-image: url(../images/02-portfolio-2.jpg);
  }

  #forth-application{
    grid-area: fo;
    background-image: url(../images/02-portfolio-3.jpg);
  }

  #fifth-application{
    grid-area: fi;
    background-image: url(../images/02-portfolio-4.jpg);
  }

  .categoryGridArea{
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;

  }

  /*footer-contacts*/
footer{
  margin-top: 75px;
}

#contact{
  display: flex;
  justify-content: center
}

/*media query-800px*/
@media only screen and (max-width: 800px) {
nav {
    display: none;
  }
}
/*media query-650px*/
@media only screen and (max-width: 650px) {
  .hero-banner {
    display: none;
  }
  
  #work-area{
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 80vw;
    grid-template-areas:
      "pre"
      "se"
      "th"
      "fo"
      "fi"
    ;
  }
  #contact{
    justify-content:space-between;
  }
}